li a {
    color: green;
}

body {
    background: white url("images/background.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

